* {box-sizing:border-box;}
html, body {padding:0px;margin:0px;font-family:Arial,Roboto,"Helvetica Neue";width:100%;height:100%;background:#fff;}
div {padding:0px;margin:0px;font-family:Arial;width:100%;}
form {padding:0px 20px 0px 20px}
input, textarea, select {padding:3px;border-radius:5px;font-family:Arial;width:100%;font-size:1em;}
input[type=button], input[type=submit] {background-color:#fff;cursor: pointer;font-size:.85em;width:80%;text-align:center;margin-left:10%;}
::placeholder {color:#bbb; }
td {padding:6px;}
ul, li {padding:2px;}
li {display:inline-block;}
a {color:#c00;text-decoration:none;}
a:hover {color:#00f;text-decoration:underline;}
.staff {color:#030;}
h5 {text-align:center;margin:0px;padding:0px;line-height:1.6em;border-bottom:solid 1px #000;font-size:1em;color:#eee;background:#060;font-variant:small-caps;}
h4 {text-align:center;margin:0px;padding:0px;line-height:2em;border-bottom:solid 1px #000;font-size:1em;color:#000;background:#fff;}
.lebloc {border-radius:8px;border:solid 2px #0F5010;background:#f1f2f3;font-size:0.85em;}
.disblock {display:inline-block;}
.nonblock {display:none;}
.lien {padding:3px 5px;border-radius:4px;border:solid 1px #666;font-family:Arial;background:#060;color:#fff;display:inline-block;}
.lien:hover {background:#9cf;color:#000;}
.divscrol{height:240px;overflow-y:scroll;scrollbar-color:#060 #fff;}
.divscrol::-webkit-scrollbar-thumb {background: #060;}
.divscrol::-webkit-scrollbar-track {background: #fff;}
